{% extends 'base.html'%}
{% load static %}


{% block contents %}
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase"> SERIES </h2>
            <h5 class="section-heading text-uppercase"> Introduce SERIES and doctor </h5>
            <br/>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link">
                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season1.jpg' %}" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 1 </div>
                        <div class="portfolio-caption-subheading text-muted"> 크리스토퍼 에클리스턴 </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">

                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season2.jpg' %}" alt="..."/>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 2 </div>
                        <div class="portfolio-caption-subheading text-muted"> 데이비드 테넌트 </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">

                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season3.jpg' %}" alt="..."/>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 3 </div>
                        <div class="portfolio-caption-subheading text-muted"> 데이비드 테넌트 </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">

                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season4.jpg' %}" alt="..."/>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 4 </div>
                        <div class="portfolio-caption-subheading text-muted"> 데이비드 테넌트 </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">

                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season5.jpg' %}" alt="..."/>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 5 </div>
                        <div class="portfolio-caption-subheading text-muted"> 맷 스미스 </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">

                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season6.jpg' %}" alt="..."/>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 6 </div>
                        <div class="portfolio-caption-subheading text-muted"> 맷 스미스 </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">

                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season7.jpg' %}" alt="..."/>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 7 </div>
                        <div class="portfolio-caption-subheading text-muted"> 맷 스미스 </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">

                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season8.jpg' %}" alt="..."/>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 8 </div>
                        <div class="portfolio-caption-subheading text-muted"> 피터 카팔디 </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">

                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season9.jpg' %}" alt="..."/>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 9 </div>
                        <div class="portfolio-caption-subheading text-muted"> 피터 카팔디 </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">

                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season10.jpg' %}" alt="..."/>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 10 </div>
                        <div class="portfolio-caption-subheading text-muted"> 피터 카팔디 </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">

                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season11.jpg' %}" alt="..."/>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 11 </div>
                        <div class="portfolio-caption-subheading text-muted"> 조디 휘테커 </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">

                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season12.jpg' %}" alt="..."/>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 12 </div>
                        <div class="portfolio-caption-subheading text-muted"> 조디 휘테커 </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                        <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/season13.jpg' %}" alt="..."/>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> SERIES 13 </div>
                        <div class="portfolio-caption-subheading text-muted"> 조디 휘테커 </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
